asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.2
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
qrcode==8.0
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.11.0
tzdata==2024.2
whitenoise==6.8.2
