
<head>
    <meta charset="UTF-8">
    <title>Voting Session</title>
    <!-- Link to the external CSS file -->
    {% load static %}
    <link href="{% static 'style.css' %}?v={% now 'U' %}" rel="stylesheet">
</head>


<nav class="admin-navbar">
    <div class="navbar-content">
        <h2 class="admin-title">ADMIN PAGE</h2>
        <div class="profile">
            <img src="profile-pic.jpg" alt="Profile Picture">
            <span class="admin-name">Admin Name</span>
        </div>
    </div>
</nav>

<div class="sections-container">
    <a href="{% url 'create_voting_session' %}" class="section-link section section-1">
        Create New Voting Session
    </a>
    <a href="{% url 'list_voting_sessions' %}" class="section-link section section-2">
        View Sessions
    </a>
</div>