<!DOCTYPE html>
<html lang="en">
<head>
    <title> Dynamic AV TT</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel-="stylesheet">
</head>
<body class="landing-page-body">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'login_view' %}" method="post" class="login-form">
        {% csrf_token %}
        <h3>Login Here</h3>
    
        <label for="username">Username</label>
        <input name="username" type="text" placeholder="Email or Phone" id="username">
    
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password" id="password">
    
        <button>Log In</button>
    </form>
    
</body>


</html>