
    {% for voter in voters %}
    <tr id="voter-{{ voter.voter_id }}" class="voter-row" data-status="{% if voter.is_verified %}verified{% else %}not_verified{% endif %}">
        <td>{{ voter.Fname }} {{ voter.Lname }}</td>
        <td class="voter-status">
            {% if voter.is_verified %}
                <button type="button"  class = "status-verified">Verified</button>
                {% if voter.has_finished %}
                    <button type="button"  class = "status-verified"> Finished </button>
                {% else %}
                    <button type="button" class= "status-not-verified" > Not Finished</button> 
                {% endif %}
            {% else %}
                <button type="button" class= "status-not-verified" > Not Verified </button>
                <button type="button" class= "status-not-verified" > Not Finished</button> 
            {% endif %}
        </td>
        <td>
            {% if voter.is_verified and voter.has_finished %}
                <a href="{% url 'review_voter_results' voter.voter_id session.session_uuid %}">Review Results</a>
            {% endif %}
            <a hr ef="{% url 'edit_voter' voter.voter_id %}">Edit</a>
            <a href="{% url 'delete_voter' voter.voter_id %}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}

